
.taskBox{
    border: solid 2px $colorBack;
    background-color: #7fa99b;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: 320px){
       width: 60%; 
    }

    .comment{
        margin: 0 auto;
        background-color: $colorBack;
        padding: 10px;
        border-radius: 10px;
        justify-content: center;
        input{
            width: 98%;
            height: 60px;
            margin: 0 auto;
            color: $colorInput;
            background-color: $color-darkTitle;
            font-family: $font;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            font-size: 15px;
            text-indent: 15px;
            &::placeholder{
                color: $colorInput;
            }
        }
        a{
            width: 60px;
            height: 60px;
            position: absolute;
            top: 30px;
            right: 35px;
            z-index: 2;
            border-radius: 30px;
            background: $colorInput;
            border: none; 
            i{
                color: $color-darkTitle;
                font-size: 25px;
                margin: 19px;
            }           
        }
    }
    .hiddenTask{
        padding: 25px 0;
        margin: 10px auto;
        border: 2px dotted $colorInput;
        border-radius: 10px;
        .assignment{
            width: 90%;
            background-color: $colorInput;
            padding: 20px 0;
            border: 2px solid $color-darkTitle;
            border-radius: 10px;
            margin: 20px auto;
            font-size: 15px;
            color: $color-darkTitle;
            font-weight: bold;
            padding-left: 20px;
            .check{
                width: 50px;
                height: 50px;
                color: $color-darkTitle;
                background-image: url("/image/suitcase-rolling-solid\ \(1\).svg")
            }
            .remove{
                background-color: #fff;
                background-image: url("/image/trash-alt-regular.svg");
                color: $color-darkTitle;
                           
            }
            
        }
        
        p{
            display: block;
            text-align: center;
            color: $colorBack;
            font-size: 18px;
            font-weight: bold;
           
        }
        .none{
            display: none;
        }  
    } 
    .line{
        border-bottom: 1px solid $colorBack;
        margin: 0 auto;
    }  
}
          
              
        
             
        
        
        