html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, section,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
}
	

//Variables
$font: 'Muli', sans-serif;
$headerFont: 'Raleway', sans-serif;
$colorInput: #ece493;
$colorBack: #085f63;
$color-darkTitle: #292830;
$color-textHeader: #103c42;

@mixin plane {
    color: $color-textHeader;
    font-size: 50px;
    margin-top: 80px;
}

@mixin code {
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    color: $color-textHeader;
    margin-top: 20px;
}

@mixin btnLi {
    float: right;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 25px;
    border: 2px solid $color-darkTitle;
    color: $color-darkTitle;
    margin: -10px 5px 0 0;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        background-color: $color-darkTitle;
    }
    
}

html, body{
    height: 100%;
}

body{
    font-family: $font;
    background-image: url("../image/tags2.jpg");
    .totalContent{
        background-color: transparentize($colorInput, 0.3);
        padding: 20px 0 5px 0;
    }
    
    @import "secciones/header";
    @import "secciones/input";
    @import "secciones/footer";
}
            

        
      
            

            