html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, section,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
}

body {
  width: 100%;
  font-family: "Muli", sans-serif;
  background-image: url("../imagen/tags2.jpg");
}
body .totalContent {
  background-color: rgba(236, 228, 147, 0.7);
  height: 100%;
}
body header {
  width: 90%;
  height: 300px;
  background-color: #7fa99b;
  margin: 10px auto 40px auto;
  border-radius: 50px;
  justify-content: space-between;
  border: 1px solid #103c42;
}
body header .leftTicket {
  width: 13%;
  height: 100%;
  border-right: 4px dotted #103c42;
  float: left;
  text-align: center;
}
body header .leftTicket i {
  color: #103c42;
  font-size: 50px;
  margin-top: 80px;
}
body header .leftTicket p {
  font-family: "Fjalla One", sans-serif;
  font-size: 60px;
  color: #103c42;
  margin-top: 20px;
}
body header .title {
  width: 70%;
  line-height: 80px;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}
body header .title h1 {
  color: #292830;
  font-size: 120px;
  font-family: "Baloo Bhaijaan", cursive;
  text-align: center;
  margin-bottom: 20px;
}
body header .title .subtitle {
  font-size: 30px;
  font-family: "Baloo Bhaijaan", cursive;
  line-height: 40px;
  color: #292830;
}
body header .rightTicket {
  width: 13%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 4px dotted #103c42;
}
body header .rightTicket i {
  color: #103c42;
  font-size: 50px;
  margin-top: 80px;
}
body header .rightTicket p {
  font-family: "Fjalla One", sans-serif;
  font-size: 60px;
  color: #103c42;
  margin-top: 20px;
}
body .taskBox {
  border: solid 2px #085f63;
  background-color: #7fa99b;
  border-radius: 25px;
  padding: 20px;
  position: relative;
  width: 50%;
  margin: 0 auto;
}
body .taskBox .comment {
  margin: 0 auto;
  background-color: #085f63;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}
body .taskBox .comment input {
  width: 98%;
  height: 60px;
  margin: 0 auto;
  color: #fff;
  background-color: #292830;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 15px;
  text-indent: 15px;
}
body .taskBox .comment input::placeholder {
  color: #fff;
}
body .taskBox .comment button {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: 2;
  border-radius: 30px;
  background: #fff;
  border: none;
}
body .taskBox .hiddenTask {
  padding: 25px 0;
  margin: 0 auto;
}
body .taskBox .hiddenTask .assignment {
  width: 90%;
  margin-right: 20px;
  background-color: #ece493;
  padding: 20px 0;
  border: 2px solid #292830;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 15px;
  color: #292830;
}
body .taskBox .hiddenTask p {
  text-align: center;
  color: #085f63;
  font-size: 18px;
  font-weight: bold;
}
body .taskBox .line {
  border-bottom: 1px solid #085f63;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
